.performance-item-title h1{
    height: 15px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #6C747F;
    
}
.performance-item-title{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    margin-top: 20px;
    margin-bottom: 7px;
}

