.logininput-frame{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logininput-title{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #41464D;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 37px;
    margin-right: 37px;
    text-align: left;
}

.logininput-input input{
    box-sizing: border-box;
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E0E4E8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 37px;
    margin-right: 37px;
    text-align: left;
    padding-left: 10px;

}