.hello-again-password{
    position: relative;
}

.hello-again-forgotpassword{
    position: absolute;
    left: 265px;
    top: -3px;
    font-family: Graphik;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    color: #41464D;


}