.other-way-login-frame{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}
.other-way-login-notice{
    /* width: 114px; */
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #3A444A;
    margin-bottom: 10px;
}

.other-way-login-logo img{
    width: 40px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 15px;
    margin-top: 20px;
    

}