.video-display-for-category-frame{
    width: 44px;
    height: 24px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #17191B;   
    margin-left: 7px;
}
.video-display-for-category-video{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}
